# binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# test binary, built with `go test -c`
*.test

# output of the go coverage tool, specifically when used with LiteIDE
*.cov

# dependency directories (remove the comment below to include it)
# vendor/

# IDE
.idea/
**/.DS_Store

# misc
.env.local
config/prod.yml
config/test.yml
config/config-test*.yml

.docker/postgre/04-plugin.sql
.docker/postgre/05-plugin.sql
plugin/wb.go
